<?xml version="1.0"?>
<config>
  <modules>
    <Vconnect_ProductDesc>
      <version>0.1.0</version>
      <title>ProductDesc</title>
    </Vconnect_ProductDesc>
  </modules>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <vconnect_productdesc before="Mage_Adminhtml">Vconnect_ProductDesc_Adminhtml</vconnect_productdesc>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <global>
    <page>
        <layouts> 
            <productfullview module="page" translate="label">
                <label>Product Full View</label>
                <template>page/2columns-left-product.phtml</template>
                <layout_handle>productfullview</layout_handle>
            </productfullview>
        </layouts>
    </page>
    <blocks>
        <productdesc>
            <class>Vconnect_ProductDesc_Block</class>
        </productdesc>
    </blocks>
    <helpers>
        <productdesc>
            <class>Vconnect_ProductDesc_Helper</class>
        </productdesc>
    </helpers>
    <models>
      <productdesc>
        <class>Vconnect_ProductDesc_Model</class>
      </productdesc>
      <catalog>
        <rewrite>
          <template_filter>Vconnect_ProductDesc_Model_Catalog_Template_Filter</template_filter>
        </rewrite>
      </catalog>
    </models>
    <events>
      <cms_wysiwyg_config_prepare>
        <observers>
            <vconnect_productdesc>
                <class>Vconnect_ProductDesc_Model_Observer</class>
                <method>cmsWysiwygConfigPrepare</method>
            </vconnect_productdesc>
        </observers>
      </cms_wysiwyg_config_prepare>
    </events>
  </global>
    <frontend>
        <layout>
            <updates>
                <vconnect_productdesc>
                    <file>vconnect_productdesc_layout.xml</file>
                </vconnect_productdesc>
            </updates>
        </layout>
    </frontend>
</config>